:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 35px;
}

.component {
    width: 320px;
    &__header {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100vw;
        top: 35px;
        left: 0;
        font-size: 40px;
        color: var(--primary-default);
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            font-weight: 500;
            font-size: 30px;
        }
        &__subtitle {
            font-size: 16px;
            margin: 15px 0;
            text-align: center;
            a {
                color: var(--primary-default);
                cursor: pointer;
            }
        }
        &__form {
            width: 100%;
            form {
                display: flex;
                flex-direction: column;
                width: 100%;
                .form-field {
                    width: 320px;
                }

            }
            button {
                color: #ffffff;
                border-radius: 25px;
                margin: 15px 0;
            }
            &__footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                &__fogot {
                    color: var(--primary-default);
                }
            }
        }
    }

}

.progress-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: 10;
}