<div class="component">
    <div class="component__header">
        EduFront
    </div>
    <div class="component__content">
        <div class="component__content__title">
            {{constants?.title}}
        </div>
        <div class="component__content__form">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <mat-form-field>
                    <input matInput formControlName="password" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="New Password">
                    <mat-icon matSuffix (click)="isPasswordVisible = !isPasswordVisible">
                        <ng-container *ngIf="!isPasswordVisible">visibility</ng-container>
                        <ng-container *ngIf="isPasswordVisible">visibility_off</ng-container>
                    </mat-icon>
                    <mat-error>{{getErrorMessage()}}</mat-error>
                </mat-form-field>

            <mat-form-field>
                    <input matInput formControlName="confirmPassword"
                    [type]="isConfirmPasswordVisible ? 'text' : 'password'" placeholder="Confirm Password">
                    <mat-icon matSuffix (click)="isConfirmPasswordVisible = !isConfirmPasswordVisible">
                        <ng-container *ngIf="!isConfirmPasswordVisible">visibility</ng-container>
                        <ng-container *ngIf="isConfirmPasswordVisible">visibility_off</ng-container>
                    </mat-icon>
                    <mat-error>{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" [ngClass]="{'is-loading': loading}" [disabled] = "!form?.valid"> RECOVER PASSWORD</button>

            </form>
        </div>
    </div>
</div>