:host {
    display: block;
    width: 100%;
}

.component {
    width: 100%;
    &__image {
        width: 135px;
        margin: auto;
    }
    &__title {
        font-size: 13px;
        margin: auto;
        width: 213px;
        text-align: center;
        margin-top: 20px;
    }
}