<div class="component">
    <div class="component__header">
        EduFront
    </div>
    <div class="component__content">
        <div class="component__content__icon">
            <mat-icon>done</mat-icon>
        </div>
        <div class="component__content__title">
            {{constants?.title}}
        </div>
        <div class="component__content__subtitle">
            {{constants?.subtitle}}
        </div>
        <div class="component__content__footer">
            <button mat-stroked-button color="primary">LOG OUT</button>
            <button mat-raised-button color="primary">SET UP PROFILE</button>
        </div>
    </div>
</div>