<div class="component">
    <div class="component__header">
        EduFront
    </div>
    <div class="component__content">
        <div class="component__content__title">
            {{constants?.title}}
        </div>
        <div class="component__content__subtitle">
            {{constants?.subtitle}}
        </div>
        <div class="component__content__form">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-form-field class="form-field">
                    <input matInput formControlName="name" placeholder="Username or Email">
                    <mat-error>{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                    <button mat-raised-button color="primary"
                        class="submit-button"
                        [ngClass] = "{'is-loading': loading}"
                        type="submit" [disabled] ="!form.valid"
                    >RECOVER PASSWORD
                    </button>
         </form>
        </div>

    </div>
</div>