:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 35px;
}

.component {
    width: 410px;
    &__header {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100vw;
        top: 35px;
        left: 0;
        font-size: 40px;
        color: var(--primary-default);
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        &__title {
            font-weight: 500;
            font-size: 30px;
        }
        &__subtitle {
            font-size: 17px;
            margin: 15px 0;
            text-align: center;
        }
        &__form {
            width: 100%;
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .form-field {
                    width: 100%;
                }

                .submit-button {
                    margin-top: 20px;
                    padding: 0 44px;
                    color: #ffffff;
                    width: 327px;
                    border-radius: 25px;
                    font-size: 17px;
                    padding: 5px;
            }
            }
        }
    }

}