:host {
    display: block;
    width: 100%;
    margin-top: 40px;
}

.form-wrapper {
    &__form {
        display: flex;
        .form-field {
            width: 100%;
        }

        &__array {
            margin-right: 15px;
        }
    }
}

.progress-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: 10;
}