<div class="global-menu">
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="login" routerLinkActive="is-active">LOGIN PAGE</button>
    <button mat-menu-item routerLink="signup" routerLinkActive="is-active">SIGN UP PAGE</button>
    <button mat-menu-item routerLink="account-create-success" routerLinkActive="is-active"> ACCOUNT CREATED PAGE</button>
    <button mat-menu-item routerLink="forgot-password" routerLinkActive="is-active">FORGOT PASSWORD PAGE</button>
    <button mat-menu-item routerLink="password-recover-email-sent" routerLinkActive="is-active">PASSWORD RECOVERY EMAIL SENT PAGE</button>
    <button mat-menu-item routerLink="security-questions" routerLinkActive="is-active">SECURITY QUESTIONS PAGE</button>
    <button mat-menu-item routerLink="set-new-password" routerLinkActive="is-active">SET NEW PASSWORD PAGE</button>
    <button mat-menu-item routerLink="set-new-password-success" routerLinkActive="is-active">PASSWORD CHANGE SUCCESS PAGE</button>
    </mat-menu>
</div>

<router-outlet></router-outlet>