<div class="global-menu">
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="auth/login" routerLinkActive="is-active">LOGIN PAGE</button>
        <button mat-menu-item routerLink="auth/signup" routerLinkActive="is-active">SIGN UP PAGE</button>
        <button mat-menu-item routerLink="auth/account-create-success" routerLinkActive="is-active"> ACCOUNT CREATED PAGE</button>
        <button mat-menu-item routerLink="auth/forgot-password" routerLinkActive="is-active">FORGOT PASSWORD PAGE</button>
        <button mat-menu-item routerLink="auth/password-recover-email-sent" routerLinkActive="is-active">PASSWORD RECOVERY EMAIL SENT PAGE</button>
        <button mat-menu-item routerLink="auth/security-questions" routerLinkActive="is-active">SECURITY QUESTIONS PAGE</button>
        <button mat-menu-item routerLink="auth/set-new-password" routerLinkActive="is-active">SET NEW PASSWORD PAGE</button>
        <button mat-menu-item routerLink="auth/set-new-password-success" routerLinkActive="is-active">PASSWORD CHANGE SUCCESS PAGE</button>
        <button mat-menu-item routerLink="auth/setup-profile" routerLinkActive="is-active">SET UP PROFILE PAGE</button>
        <button mat-menu-item routerLink="auth/setup-profile-success" routerLinkActive="is-active">SET UP PROFILE PAGE SUCCESS PAGE</button>
    </mat-menu>
</div>

<router-outlet></router-outlet>