/* You can add global styles to this file, and also import other style files */

:root {
 --primary-default: #20a62c;
 --primary-dark: #535392;
 --secondary-default: #F6C401;
 --secondary-light: #ffe995;
 --background-default: #f2f2f2;
 --background-light: #ffffff;
 --background-secondary: #f3fff3;
 --text-default: rgba(0, 0, 0, 0.87);
 --text-dark: #000000;
 --text-light: #9b9b9b;
  --text-default: rgba(0, 0, 0, 0.87);
  --text-dark: #000000;
  --text-light: #9b9b9b;

}

* {
 box-sizing: border-box;
 font-family: inherit;
// font-family: 'Montserrat-Medium', sans-serif;
}
a,
p,
h1,
h2,
h3,
h4,
h5 {
 margin: 0;
}

html {
 scroll-behavior: smooth;
}
html{
 width: 100%;
 overflow-x: hidden;
 overflow-y: auto;
 // background: var(--kg-wrapper-background);
 background: var(--background-light);
 font-size: 100%;
}
body {
 height: 100%;
 width: 100%;
 color: rgba(0,0,0,.87);
}
button {
 height: auto;
 border: 0;
 outline: 0;
 padding: 0;
 background: transparent;
 text-align: center;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 max-width: 100%;
 cursor: pointer;
 &:focus {
   outline: 0;
 }
}
div {
 outline: 0;
}

a {
 color: #000000;
 text-decoration: none !important;
 font-family: 'Montserrat-Medium', sans-serif;
 &:hover,
 &:focus,
 &:active,
 &:visited {
   color: #000000;
 }
}

img {
 width: 100%;
 height: 100%;
}
.text-ellipsis {
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}


button.is-loading {
 color: rgba(0,0,0,.26)!important;
 background-color: #ffffff!important;
 box-shadow: none;
 cursor: not-allowed;
 &:after {
   content: "";
   font-family: sans-serif;
   font-weight: 100;
   -webkit-animation: 1.25s linear infinite three-quarters;
   animation: 1.25s linear infinite three-quarters;
   border: 3px solid var(--primary-default);
   border-right-color: transparent;
   border-radius: 100%;
   box-sizing: border-box;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   overflow: hidden;
   text-indent: -9999px;
   width: 18px;
   height: 18px;
   opacity: 1;
   margin-left: 10px;
}
 }

 @keyframes three-quarters {
   0% {
       -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
       transform: rotate(0deg);
   }

   100% {
       -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
       -ms-transform: rotate(360deg);
       -o-transform: rotate(360deg);
       transform: rotate(360deg);
   }
 }


::-webkit-scrollbar-track
{
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
   border-radius: 10px;
   background-color: #F5F5F5;
}

::-webkit-scrollbar
{
   width: 10px;
   background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
   background-color: lightgray;
}


.itemaddedanimate {
 -webkit-transition: all ease-in-out 500ms;
}

.shakeit {
 -webkit-animation-name: thumb;
-webkit-animation-duration: 200ms;
-webkit-transform-origin:50% 50%;
-webkit-animation-iteration-count: 2;
-webkit-animation-timing-function: linear;
}
@keyframes thumb {
   0% { -webkit-transform: scale(1); }
   50% { -webkit-transform: scale(0.8); }
   100% { -webkit-transform: scale(1); }
}
.mat-form-field-appearance-outline .mat-form-field-outline {
 color: rgba(0, 0, 0, 0.42);
}


button.mat-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
 vertical-align: center;
 //font-size: 1.25em;
}


.snackbar-error {
 .mat-simple-snackbar-action {
   color:  rgba(205, 83, 83, 0.77);
 }
}
